@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}


/* font-family: "Playwrite CU", cursive; */
/* font-family: "Inter", sans-serif; */

body{
  font-family: "Inter", sans-serif;
  /* width:1440px;
  margin:57px auto; */
  /* height: 500px; */
  /* background: #000; */
  /* border: red solid 5px; */
  /* background: #000; */
  /* color: #FFFFFF; */
}
header {
  background: #000;
  width:1440px;
  margin: 0 auto;
  /* color: #fff; */
  border: black solid 5px;
}

nav{
  /* border: red solid 5px; */
  width: 1060px;
  margin: 57px auto;
  display: flex;
  justify-content: space-between;
}
.hamburger{
  color: #fff;
  /* display: none; */
  visibility: hidden;
}
nav h3 {
  display: flex;
  align-items: center;
  Font-weight:800px;
  Font-size:36px;
  color: #E6533C;
  font-style: italic;
  margin-right: 50%;
}
nav ul {
  display: flex;
  gap: 47px;
  border: 1px solid #000;
  /* padding: 12px 8px; */
  border-radius: 18px;
  align-items: center;
}
nav ul li {
Font-weight: 400;
Font-size: 18px;
color: #FFFFFF;
}
nav ul li a{
color: #FFFFFF;
}
.home {
font-size: 18px;
font-weight: 600;
background: #E6533C;
Padding: 8px 20px 8px 20px;
border-radius: 18px;
}

.hero_section{
  /* border: red solid 5px; */
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 167px;
}
.title_section h1{
  color: #fff;
Font-weight: 900;
Font-size: 78px;
Row-height: 1px;
}
.playwrite {
  font-family: "Playwrite CU";

}
.title_section p{
  margin: 28px 0;
}
.title_section p, .btn_1, .btn_2{
  color: #fff;
}
.btn_1{
  width: 224px;
  height: 54px;
  padding: 16px 45px;
  background: #E6533C;
  font-weight: 600px;
  font-size: 18px;
  border-radius: 45px;
  margin-right: 14px;
}
.btn_2{
  width: 224px;
  height: 54px;
  padding: 16px 45px;
  background: #000;
  font-weight: 600px;
  font-size: 18px;
  border-radius: 45px;
  border: #fff solid 1px;
}
.img_section {
  position: relative;
}
.video_tile{
  /* display: flex; */
  position: absolute;
  background: #ffffff1d;
  width: 206px;
height: 96px;
top: 400px;
left: -70px;
border-radius: 12px;
border: 1px;
padding: 20px 23px;
}
.red_circle{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #E6533C;
}
.video_tile h3{
font-size: 40px;
font-weight: 900;
color: #FFFFFF;

}
.video_tile p{
  color: #FFFFFF;
}
.free_workout_tile {
  position: absolute;
  background: #ffffff1d;
  width: 206px;
height: 96px;
top: 60px;
right: -110px;
border-radius: 12px;
border: 1px;
padding: 20px 23px;
}
.free_workout_tile h3{
  font-size: 40px;
font-weight: 900;
color: #FFFFFF;
}
.free_workout_tile p{
color: #FFFFFF;
}

/* main */
main {
  background: #000;
  width:1440px;
  margin: 0 auto;
  /* color: #fff; */
  border: black solid 5px;
}
/*  <!-- Change Your Habits --> */
.change_habits_section {
  /* border: red solid 5px; */
  width: 1060px;
  margin: 57px auto;
}
.change_habits_section h1 {
font-size: 48px;
font-weight: 900;
text-align: center;
color: #fff;
}
.change_habits_section p{
  color: #fff;
font-size: 14px;
font-weight: 400;
text-align: center;
}
.img_section {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin: 58px auto;
}
.rounded_img h3{
font-size: 18px;
font-weight: 600;
color: #fff;
text-align: center;

}
.rounded_img p{
font-size: 14px;
font-weight: 400;
text-align: center;
color: #ffffff7f;
}
.rounded_img img {
  margin-left: 28px;
  border-radius: 100%;
}

/* Run an Extra Mile Easily */
.rune_xtra_mile_easily {
  width: 1060px;
  margin: 80px auto;
  display: flex;
  padding: 40px 54px;
  justify-content: space-between;
  gap: 165px;
  background: #1a1a19;
  border-radius: 30px;
}
.rune_xtra_mile_easily img {
  width: 366px;
height: 312px;
border-radius: 18px;
}
.rune_xtra_mile_easily h2 {
font-size: 48px;
font-weight: 900;
color: #fff;

}
.rune_xtra_mile_easily p {
font-size: 14px;
font-weight: 400;
color: #ffffff63;
margin: 14px 0 34px 0;

}
.btn_3 {
  width: 224px;
  height: 54px;
  padding: 16px 45px;
  background: #E6533C;
  font-weight: 600px;
  font-size: 18px;
  border-radius: 45px;
  margin-right: 14px;
  color: #fff;
}

/* bmi_colculator */
.bmi_colculator {
  width: 671px;
height: 120px;
margin: 80px auto;
/* border: 1px solid red; */
}
.bmi_colculator h2{
font-size: 48px;
font-weight: 900;
color: #fff;
}
.bmi_colculator {
  color: #fff;
font-size: 14px;
font-weight: 400;
margin-top: 14px;
}

/* BMI Calculator Chart */
.BMI_calculator_chart {
  background: #222222;
  border: black solid 1px;
}

.BMI_calculator_area{
  /* border: red solid 5px; */
  width: 1060px;
  margin: 52px auto;
  display: flex;
  justify-content: space-between;
  gap: 44px;
}
.bmi_left_section{
  /* border: red solid 1px; */
  /* width: 310px;
  height: 216px;   */
}
.bmi_left_section h3{
  margin-bottom: 52px;
  width: 443px;
font-size: 28px;
font-weight: 900;
color: #fff;
}
th{
  color: #fff;
  text-align: left;
}
table {
  border-spacing: 18px;
}
 table, th, td {
  border: 1px solid #ffffff3f;
  border-collapse: collapse;
  padding: 18px;
 }
 td {
  color: #FFFFFF80;
Font-weight: 400px;
font-size: 14px
 }
 .bmi_right_section {
  width: 577px;
  /* border: red 1px solid; */
 }
 .bmi_right_section h2{
font-size: 28px;
font-weight: 900;
color: #fff;
 }
 .bmi_right_section p {
  color: #FFFFFF80;
Font-weight: 400px;
font-size: 14px;
margin: 25px 0;
 }
 .input_area_row_1 input{
  width: 39%;
  padding: 12px 40px 12px 20px;
  border-radius: 8px ;
  background: #FFFFFF1A;
  border: none;  
 }
 .input_area_row_2 {
  margin: 12px 0;
 }
 input, select {
font-size: 16px;
font-weight: 400;
color: #FFFFFF99;
 }
 select {
font-size: 16px;
font-weight: 400;
color: #FFFFFF99;
 }
 .input_area_row_2 input {
  width: 39%;
  padding: 12px 40px 12px 20px;
  border-radius: 8px ;
  background: #FFFFFF1A;
  border: none;  
 }
 .input_area_row_2 select {
  width: 49%;
  padding: 12px 40px 12px 20px;
  border-radius: 8px ;
  background: #FFFFFF1A;
  border: none;  
 }
 .input_area_row_3 select {
  width: 100%;
  padding: 12px 40px 12px 20px;
  border-radius: 8px ;
  background: #FFFFFF1A;
  border: none;  
 }
 .btn_4 {
    width: 224px;
    height: 54px;
    padding: 16px 45px;
    background: #E6533C;
    font-weight: 600px;
    font-size: 18px;
    border-radius: 42px;
    margin-top: 50px;
    color: #fff;

 }



/* Meet Our Team */
.Meet_Our_Team {
  /* border: red solid 5px; */
  width: 1060px;
  margin: 57px auto;
  padding: 20px;
}
.Meet_Our_Team h2{
font-size: 48px;
font-weight: 900;
color: #fff;
text-align: center;

}
.meet_p{
  text-align: center;
font-size: 14px;
font-weight: 400;
color: #ffffff9e;
/* border: 1px solid red; */
margin: 14px 0 58px 0;

}
.single_img img {
  width: 326.67px;
height: 272px;
border-radius: 18px;
}
.Meet_Our_Team_img_section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.single_img {
  position: relative;
}
.name_title {
  position: absolute;
  left: 25px;
  bottom: 20px;
}
.name_title h3{
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  
}
.name_title p{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff97;
  
}

/* footer */
footer{
  background: #000;
  width:1440px;
  margin: 0 auto;
  border: black solid 5px;
}
.footer {
  width: 1060px;
  margin: 57px auto;
  display: flex;
  justify-content: space-between;
}
.section_1 h1{
  font-size: 70px;
  font-style: italic;
  font-weight: 800;
  color: #E6533C;
  margin-bottom: 20px;
  
}
.section_1 p{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff7a;
  
}
.section_2 h2{
font-size: 32px;
font-weight: 700;
color: #fff;
margin-bottom: 39px;

}
.section_2 p{
color: #fff;
margin-bottom: 20px;
}
.footer_down hr{
  margin: 20px;
}
.footer_down hr, p{
  color: #ffffff73;
}
.footer_down p{
  text-align: center;
  padding-bottom: 100px;
}
